BBBDevPowerAutomateFlowSolution/Workflows/BBB-SetOpportunityforLeadPartyRoleTypes-A16EFC7A-3597-ED11-AAD1-0022481B5965.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ukn_sharedcommondataserviceforapps_99920"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_Opportunity_is_added": {
          "metadata": {
            "operationMetadataId": "29677691-8aef-4013-b58f-0a7a1fd75f3a"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "opportunity",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "_originatingleadid_value ne null"
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "Executes only while qualifying the lead. Condition added in filter rows"
        }
      },
      "actions": {
        "Apply_to_each_:_For_Each_Party_Role_Type_record": {
          "foreach": "@outputs('List_rows_party_role_types_using_Lead_id')?['body/value']",
          "actions": {
            "Update_a_row_:_Set_Opportunity_lookup": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "27a8351f-d2a5-41cc-bced-6edd3aaa8d61"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ukn_partyroletypes",
                  "recordId": "@items('Apply_to_each_:_For_Each_Party_Role_Type_record')?['ukn_partyroletypeid']",
                  "item/ukn_opportunity@odata.bind": "/opportunities(@{triggerOutputs()?['body/opportunityid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_rows_party_role_types_using_Lead_id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2bd1b54a-8053-45cf-b21c-e8b632050c66"
          },
          "type": "Foreach"
        },
        "List_rows_party_role_types_using_Lead_id": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "834e461b-603a-4081-b0ca-8793d179ce1f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ukn_partyroletypes",
              "$filter": " _ukn_lead_value eq @{triggerOutputs()?['body/_originatingleadid_value']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}