BBBDevPowerAutomateFlowSolution/Workflows/BBB-UpdateMeetingRecordOwneronAppointmentCreation-8F63FA82-EFB5-ED11-B597-0022481B5BF9.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ukn_sharedcommondataserviceforapps_99920"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_Meeting_record_is_Created": {
          "metadata": {
            "operationMetadataId": "e53e773e-13a1-47d5-a7cb-82e4e2781435"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "ukn_meeting",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Teams": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6df264cf-b82f-4349-aca8-efcd9ad56f08"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "teams",
              "$select": "teamid",
              "$filter": "name eq 'Nations and Regions Investment Fund'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Loop_to_assign_team_to_Meeting_record": {
          "foreach": "@outputs('Get_Teams')?['body/value']",
          "actions": {
            "Update_Meeting_Record_owner_": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "13355d6e-b4f3-46c5-85a7-76b571f76c8d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ukn_meetings",
                  "recordId": "@triggerOutputs()?['body/ukn_meetingid']",
                  "item/ownerid@odata.bind": "/teams(@{items('Loop_to_assign_team_to_Meeting_record')?['teamid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_Teams": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f4ef75c4-5ce9-4983-b4c1-d793acc0227f"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}